@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.search{
    box-sizing: border-box;
    background-image: url("../icons/search.svg");
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-color: unset;
    border: 1px solid rgba(217, 217, 217, 0.3);
    border-radius: 6px;
    padding: 10px 32px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #D9D9D94D;

}