.ListsButton{
    padding: 10px 10px;
    border-radius: 6px;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    background: unset;
    color: white;
}
.ListsButton_text{
    margin-left: 16px;
    font-size: 16px;


}

.ListsButton_customText{
    color: #9A9A9A;
    font-size: 16px;
}